{% extends 'back/master.html' %}

{% block title %} 菜系管理 {% endblock %}

{% block body %}
          <div class="cont">

            <div>
                <h3>添加菜系</h3>
                <form id=foodtype_add_form action="/back/foodtype_manage/" method="POST" class="form-inline">
                    {% csrf_token %}
                    <input type="text" name="foodtypename" placeholder="菜系名称" class="form-control input-sm">
                    <input type="submit" value="添加" id="tableadd" class="btn btn-primary input-sm">
                </form>
            </div>

          {#   <div class="shade hide"></div>   <div class="foodtypeedit-modal" hide">   <form id="foodtypeedit_form">#}
            <div class="foodtypeedit_dv hide">
                <form id="foodtypeedit_form" class="form-inline" style="padding:10px 0">
                    <input type="hidden" name="tid">
                    <input type="text" name="foodtypename" id="foodtypename2" placeholder="菜系名称" class="form-control input-sm">
                    <input type="button" value="确定修改" id="foodtypeedit_confirm" class="btn btn-primary input-sm">
                    <input type="button" value="取消" class="foodtypeedit_cancel btn btn-default input-sm">
                    <p id="err_foodtype_edit_ajax" style="color: red"></p>
                </form>
            </div>

            <h3>菜系列表</h3>
            <div class="col_2_3_right">
                <div class="index_viewport">
                    <table id="example"  cellpadding="0" cellspacing="0" border="0" width="100%" class="table table-hover">
                        <thead>
                            <tr>
                                <td>菜系编号</td>
                                <td>菜系名称</td>
                                <td>操作</td>
                            </tr>
                        </thead>
                        <tbo>
                            {% for row in foodtype %}
                            <tr tid="{{ row.id }}">
                                <td>{{ forloop.counter }}</td>
                                <td>{{ row.foodtypename }}</td>
                                <td><a class="foodtypeedit" onclick="foodtypeedit({{ row.id }})">编辑</a>| <a class="foodtypedel">删除</a></td><span id="err_foodtype_del_ajax"></span>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
{% endblock %}



{% block js %}
    <script>
        $(function () {
{#            $('.foodtypeedit').click(function () {#}
{#                $('.foodtypeedit_dv').removeClass('hide');#}
{#                var tid = $(this).parent().parent().attr("tid");#}
{#                $('#foodtypeedit_form').find('input[name="tid"]').val(tid);#}
{#            });#}

            $('.foodtypeedit_cancel').click(function () {
                $('.foodtypeedit_dv').addClass('hide')
                $('#err_foodtype_manage_ajax').text('')
            });


        });


        $('#tableadd').click(function () {
            $.ajax({
                url: "/back/foodtype_add_ajax/",
                type: "POST",
                data: $('#foodtype_add_form').serialize(),
                beforeSend: function(xhr,settings){
                    xhr.setRequestHeader('X-CSRFtoken', $.cookie('csrftoken'));
                },
                success: function (data) {
                    var obj = JSON.parse(data);
                    if(obj.status){
                        alert(obj.info);
                        location.reload()
                    }else {
                        alert(obj.info);
                    }
                }
            })
        });

        function foodtypeedit(id) {
            $('.foodtypeedit_dv').removeClass('hide');
            $('#foodtypeedit_form').find('input[name="tid"]').val(id);  //这里给input[name="tid"] 赋值是为了给tableedit_confirm提交时取得id值

            $.ajax({
                type: "post",
                url: "/back/foodtypeedit_ajax/",
                data: {id: id},
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader('X-CSRFtoken', $.cookie('csrftoken'));
                    $('#foodtypename2').val("");
                },
                success: function (data) {
                    var obj = JSON.parse(data);
                    // 实现点“编辑” 会自动赋值原有的值
                    $('#foodtypename2').val(obj.data.foodtypename);
                }
            });
        };


        $('#foodtypeedit_confirm').click(function () {
            $.ajax({
                url: "/back/foodtypeedit_confirm/",
                type: "POST",
                data: $('#foodtypeedit_form').serialize(),
                beforeSend: function(xhr,settings){
                    xhr.setRequestHeader('X-CSRFtoken', $.cookie('csrftoken'));
                },
                success: function (data) {
                    var obj = JSON.parse(data);
                    console.log(obj.status);
                    if(obj.status){
                        location.reload()
                    }else {
                        $('#err_foodtype_edit_ajax').text(obj.info)
                    }
                }
            })
        });

        $('.foodtypedel').click(function () {
            if (confirm("确认要删除？")) {
                $.ajax({
                    url: "/back/foodtype_del_ajax/",
                    type: "POST",
                    data: {id: $(this).parent().parent().attr("tid")},
                    beforeSend: function(xhr,settings){
                        xhr.setRequestHeader('X-CSRFtoken', $.cookie('csrftoken'));
                    },
                    success: function (data) {
                        var obj = JSON.parse(data);
                        if(obj.status){
                            alert(obj.info);
                            location.reload()
                        }else {
                            alert(obj.info);
                        }
                    }
                })
            }
        });




        $(document).ready(function() {
            $('#example').dataTable();
        });

    </script>

{% endblock %}