{% extends 'back/master.html' %}

{% block title %} 餐厅订单 {% endblock %}

{% block body %}
          <div class="cont">
            <div>
                <h3>点餐</h3>
                <form id="orderadd_form">
                    {% csrf_token %}
                    <select name="tablename_id">
                        {% for row in tb %}
                        <option value="{{ row.id }}">{{ row.tablename }}</option>
                        {% endfor %}
                    </select>
                    <select name="food_cho_id">
                        {% for r in fo %}
                            <option value="{{ r.id }}">
                                {{ r.foodname }}
                            </option>
                        {% endfor %}
                    </select>
                    <input type="text" name="food_count" placeholder="数量">
                    <input type="button" value="添加" id="orderadd">
                </form>
                <span class="err_order_add_ajax"></span>
            </div>
            <h3>餐厅订单</h3>
            <div class="col_2_3_right">
                <div class="index_viewport">
                    <table id="example"  cellpadding="0" cellspacing="0" border="0" width="100%">
                        <thead>
                            <tr>
                                <td>订单编号</td>
                                <td>餐桌名</td>
                                <td>下单日期</td>
                                <td>总费用</td>
                                <td>状态</td>
                                <td>操作</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in order %}
                            <tr tid="{{ row.id }}">
                                <td>{{ forloop.counter }}</td>
                                <td>{{ row.table.tablename }}</td>
                                <td>{{ row.table.ordertime }}</td>
                                <td>112</td>
                                <td>{{ row.table.ts.tablestatus }}</td>
                                <td><a href="/back/order_detail-{{ row.id }}/">详细</a>| <a class="orderdel">删除</a> | <a>结算</a></td><span id="err_order_del_ajax"></span>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="shade hide"></div>
            <div class="orderedit-modal hide">
                <form id="orderedit_form">
                    <table id="mexample"  cellpadding="0" cellspacing="0" border="0" width="100%">
                    <thead>
                            <tr>
                                <td>编号</td>
                                <td>菜名</td>
                                <td>单价</td>
                                <td>数量</td>
                                <td>操作</td>
                            </tr>
                    </thead>
                    <tbody>
                    {% for s in od %}
                            <tr>
                            <td>{{ s.food_cho.id }}</td>
                            <td>{{ s.food_cho.foodname }}</td>
                            <td>{{ s.food_cho.price }}</td>
                            <td>{{ s.food_count }}</td>
                            <td><a id="orderedit_confirm">编辑</a>
                               <a class="orderedit_cancel">取消</a></td>
                            </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                    <p id="err_order_edit_ajax" style="color: red"></p>
                </form>
            </div>
        </div>
{% endblock %}



{% block js %}
    <script>
        $(function () {
            $('.orderedit').click(function () {
                $('.orderedit-modal,.shade').removeClass('hide');
                var tid = $(this).parent().parent().attr("tid");
                $('#orderedit_form').find('input[name="tid"]').val(tid);

            });
            $('.orderedit_cancel').click(function () {
                $('.orderedit-modal,.shade').addClass('hide')
                $('#err_order_manage_ajax').text('')
            });


        });



        $('#orderadd').click(function () {
            $.ajax({
                url: "/back/order_add_ajax/",
                type: "POST",
                data: $('#orderadd_form').serialize(),
                beforeSend: function(xhr,settings){
                    xhr.setRequestHeader('X-CSRFtoken', $.cookie('csrftoken'));
                },
                success: function (data) {
                    var obj = JSON.parse(data);
                    console.log(obj.status);
                    if(obj.status){
                        location.reload()
                    }else {
                        $('#err_order_add_ajax').text(obj.error)
                    }
                }
            })
        });

{#        $('#foodtypeedit_confirm').click(function () {#}
{#            $.ajax({#}
{#                url: "/back/table_edit_ajax/",#}
{#                type: "POST",#}
{#                data: $('#foodtypeedit_form').serialize(),#}
{#                beforeSend: function(xhr,settings){#}
{#                    xhr.setRequestHeader('X-CSRFtoken', $.cookie('csrftoken'));#}
{#                },#}
{#                success: function (data) {#}
{#                    var obj = JSON.parse(data);#}
{#                    console.log(obj.status);#}
{#                    if(obj.status){#}
{#                        location.reload()#}
{#                    }else {#}
{#                        $('#err_foodtype_edit_ajax').text(obj.error)#}
{#                    }#}
{#                }#}
{#            })#}
{#        });#}

        $('.orderdel').click(function () {
            if (confirm("确认要删除？")) {
                $.ajax({
                    url: "/back/order_del_ajax/",
                    type: "POST",
                    data: {id: $(this).parent().parent().attr("tid")},
                    beforeSend: function(xhr,settings){
                        xhr.setRequestHeader('X-CSRFtoken', $.cookie('csrftoken'));
                    },
                    success: function (data) {
                        var obj = JSON.parse(data);
                        if(obj.status){
                            alert(obj.error);
                            location.reload()
                        }else {
                            alert(obj.error);
                        }
                   }
                })
            }
        });




        $(document).ready(function() {
            $('#example').dataTable();
            $('#mexample').dataTable();

        });

    </script>

{% endblock %}