
{% extends 'back/master.html' %}
{% load fee %}

{% block title %} 餐厅订单详情 {% endblock %}

{% block body %}
          <div class="cont">

          <div>
                <h3>点餐</h3>
                <form id="fc_add_form" class="form-inline">
                    {% csrf_token %}
                    <select id="new_food_cho_id" class="form-control input-sm">
                        {% for r in fo %}
                            <option value="{{ r.id }}">
                                {{ r.foodname }}
                            </option>
                        {% endfor %}
                    </select>
                    <input type="text" id="new_food_count" placeholder="数量" class="form-control input-sm">
                    <input type="button" value="添加" class="fc_add btn btn-primary input-sm">
                </form>
            </div>

          <h3>订单详情--{{ fc.first.order_n.ou_id }}--{{ fc.first.order_n.table.tablename }}</h3>
          <div>
                <form>
                    <table id="mexample"  cellpadding="0" cellspacing="0" border="0" width="100%" class="table table-hover">
                    <thead>
                            <tr>
                                <td>编号</td>
                                <td>菜名</td>
                                <td>数量</td>
                                <td>单价</td>
                                <td>费用</td>
                                <td>操作</td>
                            </tr>
                    </thead>
                    <tbody>
                    {% for s in fc %}
                            <tr tid={{ s.id }}>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ s.food_cho.foodname }}</td>
                            <td class="fcount_{{ s.id }}">{{ s.food_count }}</td>
                            {% if s.order_n.vip_type == 0 %}
                                <td>{{ s.food_cho.price }}</td>
                                <td class="feec">{% singlefee s.food_cho.price s.food_count %}</td>
                            {% elif s.order_n.vip_type == 1 %}
                                <td>{{ s.food_cho.vip_price }}</td>
                                <td class="feec">{% singlefee s.food_cho.vip_price s.food_count %}</td>
                            {% endif %}
                                <td><a onclick="fcount_edit({{ s.id }},{{ s.food_count }})" class="fcount_edit btn btn-primary btn-xs">修改数量</a> <a class="fc_del btn btn-default btn-xs">删除</a></td>
                            </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                    <div> <span>合计总费用：{{ all_price }}元</span> </div>
                    <p id="err_fc_edit_ajax" style="color: red"></p>
                </form>
            </div>
            <div><a href="/back/order/">返回</a> </div>

        </div>
{% endblock %}


{% block js %}
    <script>
        $('.fc_del').click(function () {
            if (confirm("确认要删除？")) {
                $.ajax({
                    url: "/back/fc_del_ajax/",
                    type: "POST",
                    data: {id: $(this).parent().parent().attr("tid")},
                    beforeSend: function(xhr,settings){
                        xhr.setRequestHeader('X-CSRFtoken', $.cookie('csrftoken'));
                    },
                    success: function (data) {
                        var obj = JSON.parse(data);
                        if(obj.status){
                            alert(obj.info);
                            location.reload()
                        }else {
                            alert(obj.info);
                        }
                   }
                })
            }
        });

        $('.fc_add').click(function () {
                var id = $('.fcount_edit').parent().parent().attr("tid");
                var new_food_cho_id = $('#new_food_cho_id').val();
                var new_food_count = $('#new_food_count').val();
                console.log(new_food_cho_id,new_food_count)
                $.ajax({
                    url: "/back/fc_add_ajax/",
                    type: "POST",
                    data: {'id':id, 'new_food_cho_id':new_food_cho_id, 'new_food_count':new_food_count },
                    beforeSend: function(xhr,settings){
                        xhr.setRequestHeader('X-CSRFtoken', $.cookie('csrftoken'));
                    },
                    success: function (data) {
                        var obj = JSON.parse(data);
                        if(obj.status){
                            alert(obj.info);
                            location.reload()
                        }else {
                            alert(obj.info);
                        }
                   }
                })
        });

        //点击”修改数量“ 实现文字变成input框，并可保存
        function fcount_edit(id,fcount) {
            $('.fcount_'+id).html('<input style="width:30px;" type="text" value="'+fcount+'" class="new_fcount"> <a onclick="fcount_comfirm('+id+','+fcount+');" class="btn btn-primary btn-xs">保存</a> <a onclick="fcount_cancel('+id+','+fcount+')" class="btn btn-default btn-xs">取消</a>');
        };

        function fcount_cancel(id,fcount) {
            $('.fcount_'+id).html(fcount);
        };

        function fcount_comfirm(id,fcount) {
            var nfcount = $('.new_fcount').val();   //取出新填入的food_count的值
            $.ajax({
                type: "post",
                url: "/back/fcount_comfirm/",
                data: {id: id, nfcount:nfcount},
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader('X-CSRFtoken', $.cookie('csrftoken'));
                },
                success: function (data) {
                    var obj = JSON.parse(data);
                    if(obj.status){
{#                            alert(obj.info);#}
                            location.reload()
                        }else {
                            alert(obj.info);
                        }
                }
            });
            fcount_cancel(id,fcount)
        };

        //自动执行函数， 实现datatable
        $(document).ready(function() {
            $('#example').dataTable();
            $('#mexample').dataTable();

            //jquery的方法计算总价，现在替换成后台计算写在数据库字段里，再传回显示到网页上
{#            var m = $('.feec');#}
{#            var i;#}
{#            var x = Number(0);#}
{#            for (i = 0; i < m.length; i++) {#}
{#                x = x + Number(m.eq(i).text());#}
{#            };#}
{#            x = '合计总费用：' + String(x) + '元';#}
{#            $('#allfee').text(x);#}
        });

    </script>

{% endblock %}