{% extends 'back/master.html' %}
{% load fee %}

{% block title %} 餐厅订单 {% endblock %}

{% block body %}
          <div class="cont">
            <div>
                <h3>添加订单</h3>
                <form id="orderadd_form">
                    {% csrf_token %}
                    <select name="tablename_id">
                        {% for row in tb %}
                        <option value="{{ row.id }}">{{ row.tablename }}</option>
                        {% endfor %}
                    </select>
                    <select name="food_cho_id">
                        {% for r in fo %}
                            <option value="{{ r.id }}">
                                {{ r.foodname }}
                            </option>
                        {% endfor %}
                    </select>
                    <input type="text" name="food_count" placeholder="数量">
                    <select name="viptype">
                        <option value="0">普通会员</option>
                        <option value="1">VIP会员</option>
                    </select>
                    <select name="orderstatus">
                        <option value="0">未结账</option>
                        <option value="1">已结账</option>
                    </select>
                    <input type="button" value="添加" id="orderadd">
                </form>
            </div>
            <h3>未结算的订单</h3>
            <div class="col_2_3_right">
                <div class="index_viewport">
                    <table id="example"  cellpadding="0" cellspacing="0" border="0" width="100%">
                        <thead>
                            <tr>
                                <td>订单编号</td>
                                <td>所属餐桌</td>
                                <td>下单日期</td>
                                <td>是否VIP</td>
                                <td>总费用</td>
                                <td>状态</td>
                                <td>操作</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in order %}
                                {% if row.orderstatus != 1 %}
                                    <tr tid="{{ row.id }}">
                                    <td>{{ forloop.counter }}</td>
                                    <td id="tn_{{ row.id }}">{{ row.table.tablename }}</td>
                                    <td id="ot_{{ row.id }}">{{ row.ordertime|date:"Y-m-d H:i:s" }}</td>
                                    {% if row.vip_type == 0 %}
                                        <td id="vt_{{ row.id }}">否</td>
                                        {% elif row.vip_type == 1 %}
                                        <td id="vt_{{ row.id }}">是</td>
                                    {% endif %}
                                    <td>{{ row.all_price }}</td>
                                    {% if row.orderstatus == 0 %}
                                        <td id="os_{{ row.id }}">未结账</td>
                                        {% elif row.orderstatus == 1 %}
                                        <td id="os_{{ row.id }}">已结账</td>
                                    {% endif %}
                                        <td><a id="orderedit_{{ row.id }}" onclick="orderedit({{ row.id }},{{ row.table_id }},{{ row.vip_type }},{{ row.orderstatus }})">编辑</a>
                                    | <a href="/back/order_detail-{{ row.id }}/">详细</a>| <a class="orderdel">删除</a> | <a class="ispay">结算</a></td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

           <h3>历史订单</h3>
            <div class="col_2_3_right">
                <div class="index_viewport">
                    <table id="example2"  cellpadding="0" cellspacing="0" border="0" width="100%">
                        <thead>
                            <tr>
                                <td>订单编号</td>
                                <td>餐桌名</td>
                                <td>下单日期</td>
                                <td>是否VIP</td>
                                <td>总费用</td>
                                <td>状态</td>
                                <td>操作</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in order %}
                                {% if row.orderstatus == 1 %}
                                    <tr tid="{{ row.id }}">
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ row.table.tablename }}</td>
                                    <td>{{ row.ordertime|date:"Y-m-d H:i:s" }}</td>
                                    {% if row.vip_type == 0 %}
                                        <td>否</td>
                                        {% elif row.vip_type == 1 %}
                                        <td>是</td>
                                    {% endif %}
                                    <td>{{ row.all_price }}</td>
                                    {% if row.orderstatus == 0 %}
                                        <td>未结账</td>
                                        {% elif row.orderstatus == 1 %}
                                        <td>已结账</td>
                                    {% endif %}
                                    <td><a href="/back/order_detail-{{ row.id }}/">详细</a>| <a class="orderdel">删除</a> | <a class="ispay">结算</a></td>
                                    </tr>
                               {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
{% endblock %}



{% block js %}
    <script>
        $(function () {
            $('.orderedit').click(function () {
                $('.orderedit-modal,.shade').removeClass('hide');
                var tid = $(this).parent().parent().attr("tid");
                $('#orderedit_form').find('input[name="tid"]').val(tid);

            });
            $('.orderedit_cancel').click(function () {
                $('.orderedit-modal,.shade').addClass('hide')
                $('#err_order_manage_ajax').text('')
            });


        });



        $('#orderadd').click(function () {
            $.ajax({
                url: "/back/order_add_ajax/",
                type: "POST",
                data: $('#orderadd_form').serialize(),
                beforeSend: function(xhr,settings){
                    xhr.setRequestHeader('X-CSRFtoken', $.cookie('csrftoken'));
                },
                success: function (data) {
                    var obj = JSON.parse(data);
                    console.log(obj.status);
                    if(obj.status){
                        alert(obj.info);
                        location.reload()
                    }else {
                        alert(obj.info);
                    }
                }
            })
        });


        $('.orderdel').click(function () {
            if (confirm("确认要删除？")) {
                $.ajax({
                    url: "/back/order_del_ajax/",
                    type: "POST",
                    data: {id: $(this).parent().parent().attr("tid")},
                    beforeSend: function(xhr,settings){
                        xhr.setRequestHeader('X-CSRFtoken', $.cookie('csrftoken'));
                    },
                    success: function (data) {
                        var obj = JSON.parse(data);
                        if(obj.status){
                            alert(obj.info);
                            location.reload()
                        }else {
                            alert(obj.info);
                        }
                   }
                })
            }
        });

        $('.ispay').click(function () {
            if (confirm("确认已结算？")) {
                $.ajax({
                    url: "/back/order_comfirm_ajax/",
                    type: "POST",
                    data: {id: $(this).parent().parent().attr("tid")},
                    beforeSend: function(xhr,settings){
                        xhr.setRequestHeader('X-CSRFtoken', $.cookie('csrftoken'));
                    },
                    success: function (data) {
                        var obj = JSON.parse(data);
                        if(obj.status){
                            alert(obj.info);
                            location.reload()
                        }else {
                            alert(obj.info);
                        }
                   }
                })
            }
        });


        //点击”修改数量“ 实现文字变成input框，并可保存
        function orderedit(id,tableid,viptype,orderstatus) {
            var oldor = $('#orderedit_'+id).parent().parent().children();
            var oldordertime = oldor.eq(2).text();
           // var oid = oldor.parent().attr('tid');
            var oldtablename = oldor.eq(1).text();
            var oldviptype = oldor.eq(3).text();
            var oldorderstatus = oldor.eq(5).text();
            var oldordertime = oldordertime.replace(" ", "%");
            //console.log(oldtablename,oldordertime,oldviptype,oldorderstatus);

            var ntn = '<select name="new_tablename" id=ntn_'+id+'> {% for row in tb %} <option value="{{ row.id }}">{{ row.tablename }}</option> {% endfor %} </select>';
            $('#tn_'+id).html(ntn);
            $('#ntn_'+id).val(tableid);
            $('#ot_'+id).html('<input type="text" value="'+oldordertime+'" id="ot_'+id+'">');  //定餐时间
            var nvt = '<select name="new_viptype" id=nvt_'+id+'> <option value="0">否</option> <option value="1">是</option> </select>';
            $('#vt_'+id).html(nvt);
            $('#nvt_'+id).val(viptype);
            var nos = '<select name="new_orderstatus" id=nos_'+id+'><option value="0">未结帐</option> <option value="1">已结帐</option> </select>';
            $('#os_'+id).html(nos);
            $('#nos_'+id).val(orderstatus);

            var noe = '<a id=noe_'+id+' onclick="orderedit_comfirm">确认编辑</a>|<a onclick=orderedit_cancel("'+id+'","'+oldtablename+'","'+oldordertime+'","'+oldviptype+'","'+oldorderstatus+'");>取消编辑</a>';
            //var noe = '<a onclick=orderedit_cancel('+id+',"'+oldtablename+'","'+oldordertime+'","'+oldviptype+'","'+oldorderstatus+'");>取消编辑</a>';
            $('#orderedit_'+id).html(noe);
        };

        function orderedit_cancel(id,tablename,ordertime,viptype,orderstatus) {
            var oldordertime = ordertime.replace("%"," ");
            console.log(id,tablename,oldordertime,viptype,orderstatus);
            $('#tn_'+id).text(tablename);
            $('#os_'+id).text(orderstatus);
            console.log('#tn_'+id);

            //$('#ot_'+id).html('<input type="text" value="'+oldordertime+'" id="ot_'+id+'">');  //定餐时间
{#            var nvt = '<select name="new_viptype" id=nvt_'+id+'> <option value="0">否</option> <option value="1">是</option> </select>';#}
{#            $('#vt_'+id).html(nvt);#}
{#            $('#nvt_'+id).val(viptype);#}
{#            var nos = '<select name="new_orderstatus" id=nos_'+id+'> <option value="0">未结帐</option> <option value="1">已结帐</option> </select>';#}
{#            $('#os_'+id).html(nos);#}
{#            $('#nos_'+id).val(orderstatus);#}
{#            noe = '<a id=noe_'+id+' onclick="orderedit_comfirm">确认编辑</a>|<a onclick="orderedit_cancel('+id+','+tableid+','+oldordertime+','+viptype+','+orderstatus+')">取消编辑</a>'#}
{#            $('#orderedit_'+id).html(noe)#}
        };

        function orderedit_comfirm(id,vip_type) {
            var nfcount = $('.new_fcount').val();   //取出新填入的food_count的值
            $('.orderedit2').parent().parent().attr('tid');
            $.ajax({
                type: "post",
                url: "/back/order_edit_comfirm/",
                data: {id: id, nfcount:nfcount},
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader('X-CSRFtoken', $.cookie('csrftoken'));
                },
                success: function (data) {
                    var obj = JSON.parse(data);
                    if(obj.status){
{#                            alert(obj.info);#}
                            location.reload();
                        }else {
                            alert(obj.info);
                        }
                }
            });
            fcount_cancel(id,fcount);
        };
        //


        $(document).ready(function() {
            $('#example').dataTable();
            $('#example2').dataTable();


        });

    </script>

{% endblock %}