{% extends 'back/master.html' %}

{% block title %} 餐桌管理 {% endblock %}

{% block body %}
        <div class="cont">

            <div>
                <h3>餐桌列表</h3>
                <form action="/back/table_manage/" method="POST">
                    {% csrf_token %}
                    <input type="text" name="tablename" placeholder="桌名">
                    <input type="datetime-local" name="ordertime" placeholder="预定时间">
                    <select name="tablestatus">
                        {% for b in tst %}
                        <option value={{ b.id }}>{{ b.tablestatus }}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="添加" id="tableadd">
                </form>
            </div>

            <div class="col_2_3_right">
                <div class="index_viewport">
                    <table id="example"  cellpadding="0" cellspacing="0" border="0" width="100%">
                        <thead>
                            <tr>
                                <td>编号</td>
                                <td>桌名</td>
                                <td>状态</td>
                                <td>预定时间</td>
                                <td>操作</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in tm %}
                            <tr tid="{{ row.id }}">
                                <td>{{ forloop.counter }}</td>
                                <td>{{ row.tablename }}</td>
                                <td>{{ row.ts.tablestatus }}</td>
                                <td>{{ row.ordertime }}</td>
                                <td><a class="tableedit">编辑</a> | <a class="tabledel">删除</a> </td> <span id="err_table_del_ajax"></span>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="shade hide"></div>
            <div class="tableedit-modal hide">
                <form id="tableedit_form">
                    <input type="hidden" name="tid">
                    <input type="text" name="tablename" placeholder="桌名">
                     <select name="tablestatus">
                        {% for b in tst %}
                        <option value={{ b.id }}>{{ b.tablestatus }}</option>
                        {% endfor %}
                    </select>
                    <input type="datetime-local" name="ordertime" placeholder="预定时间">
                    <input type="button" value="确定修改" id="tableedit_confirm">
                    <input type="button" value="取消" class="tableedit_cancel">
                    <p id="err_table_edit_ajax" style="color: red"></p>
                </form>
            </div>


        </div>
{% endblock %}

{% block js %}

    <script>
        $(function () {
            $('.tableedit').click(function () {
                $('.tableedit-modal,.shade').removeClass('hide');
                var tid = $(this).parent().parent().attr("tid");
                $('#tableedit_form').find('input[name="tid"]').val(tid);

            });
            $('.tableedit_cancel').click(function () {
                $('.tableedit-modal,.shade').addClass('hide')
                $('#err_table_manage_ajax').text('')
            });


        });
        
        $('#tableedit_confirm').click(function () {
            $.ajax({
                url: "/back/table_edit_ajax/",
                type: "POST",
                data: $('#tableedit_form').serialize(),
                beforeSend: function(xhr,settings){
                    xhr.setRequestHeader('X-CSRFtoken', $.cookie('csrftoken'));
                },
                success: function (data) {
                    var obj = JSON.parse(data);
                    console.log(obj.status);
                    if(obj.status){
                        location.reload()
                    }else {
                        $('#err_table_edit_ajax').text(obj.error)
                    }
                }
            })
        });

        $('.tabledel').click(function () {
            if (confirm("确认要删除？")) {
                $.ajax({
                    url: "/back/table_del_ajax/",
                    type: "POST",
                    data: {id: $(this).parent().parent().attr("tid")},
                    beforeSend: function(xhr,settings){
                        xhr.setRequestHeader('X-CSRFtoken', $.cookie('csrftoken'));
                    },
                    success: function (data) {
                        var obj = JSON.parse(data);
                        if(obj.status){
                            alert(obj.error);
                            location.reload()
                        }else {
                            alert(obj.error);
                        }
                    }
                })
            }
        })

        $(document).ready(function() {
            $('#example').dataTable();
        });
       
    </script>


{% endblock %}