{% extends 'back/master.html' %}

{% block title %} 餐桌管理 {% endblock %}

{% block body %}
        <div class="cont">

            <div>
                <h3>餐桌列表</h3>
                <form>
                    {% csrf_token %}
                    <input type="text" name="tablename" placeholder="桌名">
                    <input type="text" name="ordertime" placeholder="预定时间">
                    <select name="tablestatus">
                        {% for b in tst %}
                        <option value={{ b.id }}>{{ b.tablestatus }}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="添加" id="tableadd">
                </form>
            </div>
            <div>
                <form>
                    <input type="text" name="search">
                    <input type="submit" value="搜索">
                </form>
            </div>
            <div>
                <table border="1">
                    <thead>
                        <tr>
                            <td>编号</td>
                            <td>桌名</td>
                            <td>状态</td>
                            <td>预定时间</td>
                            <td>操作</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% for row in tm %}
                            <td>{{ forloop.counter }}</td>
                            <td>{{ row.tablename }}</td>
                            <td>{{ row.ts.tablestatus }}</td>
                            <td>{{ row.ordertime }}</td>
                                <td><a class="tableedit">编辑</a> | <a class="tabledel">删除</a> </td>
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="tableedit-modal hide">
                <form id="tableedit_form">
                    <input type="text" name="tablename">
                    <input type="text" name="tablestatus">
                    <input type="text" name="ordertime">
                    <input type="button" value="确定修改" id="tableedit_confirm">
                    <input type="button" value="取消" class="tableedit_cancel">
                </form>
            </div>


        </div>
{% endblock %}

{% block js %}

    <script>
        $(function () {
            $('.tableedit').click(function () {
                $('.tableedit-modal').removeClass('hide');

            })
            $('.tableedit_cancel').click(function () {
                $('.tableedit-modal').addClass('hide')
            })
        })
        
        $(function () {
            
        })
    </script>


{% endblock %}