{% extends 'back/master.html' %}

{% block title %} 用户组管理 {% endblock %}
{% block body %}
     <div class="cont">
            <h3>添加用户组</h3>
            <form method="POST" action="/back/group_info/">
                {% csrf_token %}
                <input type="text" name="groupname" placeholder="新用户组"/>
                <input type="submit" value="添加"/>
            </form>

            <div id="groupedit_form" class="hide">
                <form action="/back/groupedit/" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="gid">
                    <input type="text" name="groupname" placeholder="用户组">
                    <input type="submit"  value="确认编辑">
                    <input type="button"  value="取消编辑" id="groupedit_cancel">
                </form>
            </div>

            <h3>用户组列表</h3>
            <ul>
                {% for row in group_list %}
                    <li>
                        {{ forloop.counter }}|
                        <a did="/back/groupdetail_{{ row.id }}/">{{ row.groupname }}</a>
                        |<a gid="{{ row.id }}" class="groupedit">编辑</a>
                        |<a href="/back/groupdel_{{ row.id }}/" onclick="groupdel()">删除</a>
                    </li>
                {% endfor %}
            </ul>

        </div>
{% endblock %}

{% block js %}
<script>

    function groupdel() {
        if (!confirm("确认要删除？")) {
            window.event.returnValue = false;
        }
    }

    $(function () {
        $('.groupedit').click(function () {
            $('#groupedit_form').removeClass('hide')
            var gid = $(this).attr('gid')
            var groupname = $(this).siblings().eq(0).text()
            $('#groupedit_form').find('input[name="gid"]').val(gid)
            $('#groupedit_form').find('input[name="groupname"]').val(groupname)
        })
        $('#groupedit_cancel').click(function () {
            $('#groupedit_form').addClass('hide')
        })

    })


</script>


{% endblock %}