{% extends 'back/master.html' %}

{% block title %} 用户组管理 {% endblock %}
{% block body %}
    <div class="cont">
            <h3>添加用户</h3>
{#            <form method="POST" action="/cmdb/user_info/">#}
{#                <input type="text" name="user" />#}
{#                <input type="text" name="pwd" />#}
{#                #}
{##}
{#                <select name="group_id">#}
{#                    {% for item in group_list %}#}
{#                        <option value="{{ item.uid }}">{{ item.caption }}</option>#}
{#                    {% endfor %}#}
{#                </select>#}
{#                <input type="submit" value="添加"/>#}
{#            </form>#}
        <form action="/back/user_info/" method="POST">
            {% csrf_token %}
            {{ obj.as_table }}
            <input type="submit" value="添加">
        </form>


            <h3>用户列表</h3> <span id="delerruser_info.html">{{ delerr }}</span>
                <table border="1">
                        <tr>
                        <th>编号</th>
                        <th>用户名</th>
                        <th>操作</th>
                        </tr>
                        {% for row in user_list %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                             <td><a href="/back/userdetail_{{ row.id }}/">{{ row.username }}</a> </td>
                             <td><a id={{ row.id }}  href="/back/useredit/">编辑</a>
                             <a href="/back/userdel_{{ row.id }}/" onclick="userdel()">删除</a> </td>
                        </tr>
                        {% endfor %}
                </table>

            <div>
                <ul>
                    {% for row in user_detail %}
                        <li>{{ row.username }}</li>
                        <li>{{ row.email }}</li>
                        <li>{{ row.grouptype.groupname }}</li>
                    {% endfor %}
                </ul>
            </div>

            <div>
                <form id='useredit' action="/back/useredit/" method="post">
                    {% csrf_token %}
                    {% for row in user_edit %}
                    <input type="text" name="user2" placeholder="用户名" value="{{ row.username }}">
                    <input type="password" name="pwd2" placeholder="密码" value="{{ row.password }}">
                    <input type="text" name="email2" placeholder="邮箱" value="{{ row.email }}">
                    <select name="grouptype">
                        <option value="{{ row.grouptype_id }}">{{ row.grouptype.groupname }}</option>
                    </select>
                    {% endfor %}
                    <input type="submit" value="修改">
                </form>

            </div>
        </div>
{% endblock %}

{% block js %}
<script src="/static/jquery-1.12.4.js"></script>
<script>
    function userdel() {
        if (!confirm("确认要删除？")) {
            window.event.returnValue = false;
        }
    }

</script>
{% endblock %}