{% extends 'back/master.html' %}

{% block title %} 用户组管理 {% endblock %}
{% block body %}
     <div class="cont">
            <h3>添加用户组 <span style="font-size:14px;color: red">{{ add_err }}</span></h3>
            <form method="POST" action="/back/group_info/">
                {% csrf_token %}
                <input type="text" name="groupname" placeholder="新用户组"/>
                <input type="submit" value="添加"/>
            </form>

            <div id="groupedit_form" class="hide">
                <form action="/back/groupedit/" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="gid">
                    <input type="text" name="groupname" placeholder="用户组">
                    <input type="submit"  value="确认编辑">
                    <input type="button"  value="取消编辑" id="groupedit_cancel">
                </form>
            </div>

          <h3>用户组列表 <span style="font-size:14px;color: red">{{ groupdel_err }}</span> </h3>

            <div class="col_2_3_right">
                <div class="index_viewport">
                    <table id="example"  cellpadding="0" cellspacing="0" border="0" width="100%">
                 <thead>
                        <tr>
                            <td>编号</td>
                            <td>用户组</td>
                            <td>操作</td>
                        </tr>
                 </thead>
                 <tbody>
                    {% for row in group_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td did="/back/groupdetail_{{ row.id }}/">{{ row.groupname }}</td>
                        <td gid="{{ row.id }}" class="groupedit">编辑
                        <a href="/back/groupdel_{{ row.id }}/" onclick="groupdel()">删除</a></td>
                    </tr>
                    {% endfor %}

                  </tbody>
                  </table>
                </div>
            </div>
     </div>
{% endblock %}

{% block js %}
<script>


    $(function () {
        $('.groupedit').click(function () {
            $('#groupedit_form').removeClass('hide')
            var gid = $(this).attr('gid')
            var groupname = $(this).siblings().eq(1).text()
            console.log(groupname)
            $('#groupedit_form').find('input[name="gid"]').val(gid)
            $('#groupedit_form').find('input[name="groupname"]').val(groupname)
        })
        $('#groupedit_cancel').click(function () {
            $('#groupedit_form').addClass('hide')
        })

    });

    function myfun() {
        {
            var c = self.location.href;
            var t = c.indexOf("/back/groupdel_");
            if ( t > 10 ) {
                var newhref = 'http://' + self.location.host + '/back/group_info/';
                top.location.href = newhref
            }
        }
        /*用window.onload调用myfun()*/
    };
{#自动执行函数#}
{#写法1    window.onload = setTimeo(myfun,2000);#}

{#写法2    $(function () {#}
{#        setTimeout(myfun,2000);#}
{#    });#}

{#    写法3#}
    $(document).ready(function() {
            setTimeout(myfun,2000);
            $('#example').dataTable();
    });


    function groupdel() {
        if (!confirm("确认要删除？")) {
            window.event.returnValue = false;
    }};
</script>


{% endblock %}