{% extends 'back/master.html' %}

{% block title %} 用户组管理 {% endblock %}
{% block body %}
    <div class="cont">
        <h3>添加用户 <span style="font-size:14px;color: red">{{ useradd_err }}</span></h3>
        <form action="/back/user_info/" method="POST">
            {% csrf_token %}
            {{ obj.username }}
            {{ obj.password }}
            {{ obj.email }}
            {{ obj.grouptype_id }}
{#            {{ obj.as_table }}#}
            <input type="submit" value="添加">
        </form>

            <h3>用户列表</h3>

            <div class="col_2_3_right">
                <div class="index_viewport">
                <table id="example" cellpadding="0" cellspacing="0" border="0" width="100%">
                    <thead>
                        <tr>
                            <td>编号</td>
                            <td>用户名</td>
                            <td>操作</td>
                        </tr>
                    </thead>
                    <tbody>
                    {% for row in user_list %}
                    <tr bid="{{ row.id }}" gid="{{ row.grouptype_id }}">
                         <td>{{ forloop.counter }}</td>
                         <td><a href="/back/userdetail_{{ row.id }}/">{{ row.username }}</a> </td>
                         <td><a onclick="useredit({{ row.id }})"  class="useredit">编辑
                             <a class="userdel">删除</a> </td>   {#href="/back/userdel_{{ row.id }}/"#}
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </div>
            </div>


            <div>
                <ul>
                    {% for row in user_detail %}
                        <li>用户名：{{ row.username }}</li>
                        <li>邮箱：{{ row.email }}</li>
                        <li>所属用户组：{{ row.grouptype.groupname }}</li>
                    {% endfor %}
                </ul>
            </div>

            <div class="shade hide"></div>
            <div>
                <form class="edit-modal hide">
                    <p id="user"></p>
                    {% csrf_token %}
                    <input type="hidden" name="edit_id2" id="edit_id2">
{#                   <input type="text" name="user2" id="user2" placeholder="用户名">#}
                    <input type="password" name="pwd2" id="pwd2" placeholder="密码">
                    <input type="text" name="email2" id="email2" placeholder="邮箱">

                    <select name="grouptype2" id="grouptype2">
                        {% for row in group_list %}
                        <option value="{{ row.id }}"> {{ row.groupname }}</option>
                        {% endfor %}
                    </select>
                    <a id="edit_submit" onclick="edit_submit()">确认编辑</a>
                    <input type="button" value="取消" id="cancel_useredit">
                    <p id="useredit_err" style="color: red"></p>
                </form>

            </div>
        </div>
{% endblock %}


{% block js %}

<script>

    $(".userdel").click(function () {
        if (window.confirm("确认要删除？")) {
            $.ajax({
                url: "/back/userdel_ajax/",
                type: "POST",
                data: {id: $(this).parent().parent().attr("bid"), username: $(this).parent().parent().children().eq(1).text().replace(/^\s+|\s+$/g,"")},
                beforeSend: function(xhr,settings){
                    xhr.setRequestHeader('X-CSRFtoken', $.cookie('csrftoken'));
                },
                success: function (data) {
                    var obj = JSON.parse(data);
                    if(obj.status){
                        alert(obj.info);
                        location.href = '/back/user_info'
                    }else {
                        alert(obj.info);
                    }
                }
            })}else{
            window.event.returnValue = false;
        }
    });

    $(function () {
        $('.useredit').click(function () {
            $('.shade,.edit-modal').removeClass('hide');
            var bid = $(this).parent().parent().attr('bid');
            var gid = $(this).parent().parent().attr('gid');
            var username = $(this).parent().siblings().eq(1).text();
            $('.edit-modal').find('input[name="edit_id2"]').val(bid);
            $('.edit-modal').find('p[id=user]').text('编辑用户：' + username);

        })
        $('#cancel_useredit').click(function () {
            $('.shade,.edit-modal').addClass('hide')
        })
    });


    function useredit(id) {
        $.ajaxSetup({
            beforeSend: function(xhr,settings){
                xhr.setRequestHeader('X-CSRFtoken', $.cookie('csrftoken'));
            }
        });

        $.ajax({
            type: "post",
            url: "/back/useredit_ajax/",
            data: {id: id},
            beforeSend: function (xhr,settings) {
                xhr.setRequestHeader('X-CSRFtoken', $.cookie('csrftoken'));
                $('#pwd2').val("");
                $('#email2').val("");
                $("#grouptype2").val("");
            },
            success: function (data) {
                var obj = JSON.parse(data);
                // 实现点“编辑” 会自动赋值原有的值
                $('#email2').val(obj.data.email);
                $("#grouptype2").val(obj.data.grouptype);
            }
        });
    };


    function edit_submit() {
        $.ajax({
            type: "post",
            url: "/back/useredit_submit/",
            data: $('.edit-modal').serialize(),
            beforeSend: function(xhr,settings){
                xhr.setRequestHeader('X-CSRFtoken', $.cookie('csrftoken'));
            },
            success: function (data) {
                var obj = JSON.parse(data);
                if(obj.status){
                    location.href = '/back/user_info/';
                }else {
                    $('#useredit_err').text(obj.info);
                }
            }
        });
    };

    $(document).ready(function() {
            $('#example').dataTable();
    });


</script>
{% endblock %}